@import '../../styles/main.scss';

.nonAlchohol{
    margin: 0 auto;

    text-align: center;
}

.Drinklist{
    display: flex;
flex-wrap: wrap;


    width: 80%;
margin: 0 auto;

justify-content: space-between ;

    margin-top: 60px;
}


.drinkSearch{
    width: 50%;

    text-align: center;
    text-transform: capitalize;
    margin: 20px auto auto auto;
    background-color: $color-brown-dark;
   
    
   @include respond(phone){
       width: 80%;
   }
    @include box-shadow;
    
    h4{
        text-transform: uppercase;
        color: $color-white;
    }
}
.searchHeading{
    padding: 10px;
}