@import '../../styles/main.scss';

.ServiceList{
    display: flex;
    
    width: 100%;
    justify-content: space-between;

    @include respond(phone){
        flex-wrap: wrap;
    }
}

.Service{

border: .1px $color-grey;
margin: 5px;
    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    h3{
text-align: center;
padding: 0 10px;
    }
}